In [30]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-05-22 04:35:32,42.0970,-79.2353,64.04,93,40,5.01
1,1,Aquiraz,BR,2022-05-22 04:34:21,-3.9014,-38.3911,76.17,88,16,7.16
2,2,Khatanga,RU,2022-05-22 04:35:32,71.9667,102.5000,36.21,86,100,8.14
3,3,Buchanan,LR,2022-05-22 04:32:52,5.8808,-10.0467,74.86,91,100,5.91
4,4,Samarai,PG,2022-05-22 04:35:33,-10.6167,150.6667,82.96,75,81,8.99

In [31]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [32]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [33]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Module 6.5.3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [50]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Aquiraz,BR,2022-05-22 04:34:21,-3.9014,-38.3911,76.17,88,16,7.16
3,3,Buchanan,LR,2022-05-22 04:32:52,5.8808,-10.0467,74.86,91,100,5.91
4,4,Samarai,PG,2022-05-22 04:35:33,-10.6167,150.6667,82.96,75,81,8.99
7,7,Bosaso,SO,2022-05-22 04:35:34,11.2842,49.1816,87.78,70,0,11.50
8,8,Hailun,CN,2022-05-22 04:35:34,47.4500,126.9333,74.82,23,49,1.70
9,9,Mahibadhoo,MV,2022-05-22 04:35:35,3.7833,72.9667,83.43,76,93,13.69
10,10,Carnarvon,AU,2022-05-22 04:34:23,-24.8667,113.6333,76.28,60,13,22.35
14,14,Albany,US,2022-05-22 04:32:14,42.6001,-73.9662,77.41,85,61,2.26
16,16,Beloha,MG,2022-05-22 04:34:07,-25.1667,45.0500,70.30,45,0,3.18
17,17,Cozumel,MX,2022-05-22 04:35:37,20.5083,-86.9458,82.94,81,66,11.01

In [51]:
preferred_cities_df.count()

City_ID       224
City          224
Country       224
Date          224
Lat           224
Lng           224
Max Temp      224
Humidity      224
Cloudiness    224
Wind Speed    224
dtype: int64

In [52]:
# Module 6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1      Aquiraz      BR     76.17  -3.9014  -38.3911
3     Buchanan      LR     74.86   5.8808  -10.0467
4      Samarai      PG     82.96 -10.6167  150.6667
7       Bosaso      SO     87.78  11.2842   49.1816
8       Hailun      CN     74.82  47.4500  126.9333
9   Mahibadhoo      MV     83.43   3.7833   72.9667
10   Carnarvon      AU     76.28 -24.8667  113.6333
14      Albany      US     77.41  42.6001  -73.9662
16      Beloha      MG     70.30 -25.1667   45.0500
17     Cozumel      MX     82.94  20.5083  -86.9458

In [ ]:
# 6.5.4 Retrieve Hotels from a Nearby Search
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}